<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nsf.nsf_nue_project" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name" >
        <supports-screens android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro_activ"
            android:label="@string/title_activity_intro_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Scale_activ"
            android:label="@string/title_activity_scale_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Device_activ"
            android:label="@string/title_activity_device_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".App_activ"
            android:label="@string/title_activity_app_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Gallery_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".quiz1.Quiz1_q1_activ"
            android:label="Quiz"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz1.Quiz1_q2_activ"
            android:label="Quiz"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz1.Quiz1_q3_activ"
            android:label="Quiz"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz1.Quiz1_q4_activ"
            android:label="Quiz"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz3.Quiz3_q1_activ"
            android:label="@string/title_activity_quiz_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz3.Quiz3_q2_activ"
            android:label="@string/title_activity_quiz_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz2.Quiz2_q1_activ"
            android:label="@string/title_activity_quiz_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz2.Quiz2_q2_activ"
            android:label="@string/title_activity_quiz2_q2_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz2.Quiz2_q3_activ"
            android:label="@string/title_activity_quiz_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz2.Quiz2_q4_activ"
            android:label="@string/title_activity_quiz_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".quiz2.Quiz2_q5_activ"
            android:label="@string/title_activity_quiz_activ"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".Score"
            android:label="Score"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
